doctype html
html(lang='en')
   head
      meta(charset='UTF-8')
      meta(
         content='width=device-width, initial-scale=1.0'
         name='viewport'
      )
      title Document
      link(href='./css/styles.css' rel='stylesheet')
   body
      include ../includes/header
         block content
      include ../includes/footer
      script(src='./js/scripts.js')
